<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= 'helloworld' .toUpperCase() %>
    </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, nesciunt possimus quod hic consectetur
        voluptatum. Sit officia minima dolor magni, dolorem labore eos nulla eaque facilis corporis soluta debitis
        dolore. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt possimus ipsam corrupti reprehenderit
        maxime aliquid neque dolore rerum minus amet doloremque sed illo, quo eos unde iusto eius modi. Similique.</p>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro voluptatem quia est quo maiores iure quam, at
        enim pariatur natus corporis exercitationem debitis excepturi fuga, neque maxime quisquam reprehenderit.
        Tempora.</p>
</body>

</html>